.header{
    width:100%;
    height:7%;
    background-color: #2E2E2E;
    overflow: hidden;
    align-content: right;
    align-items: center
}

.header-logo
{
    overflow: hidden;
    float:left;
    padding-left: 20px;
    font-size: 20px;
    color: #C4C4C4;
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header-content
{
    overflow: hidden;
    float:right;
}

.parent
{
    background: cyan;
    display: inline-block;
    width: 100%;
    height:100%;
    overflow: hidden;
    border-style: none;
    border-width: 5px;
}

.selector
{
    background: whitesmoke;
    width: 15%;
    height:calc(93% - 4px);
    overflow-y: auto;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color: #C4C4C4;
}

.material
{
    background: white;
    width: 40%;
    height:calc(93% - 4px);
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color:#dcdcdc;
    
}

.preview
{
    
    background-color:whitesmoke;
    width:calc(45% - 12px);
    height:calc(93% - 4px);
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color:#C4C4C4;
    image-rendering: pixelated;
}